[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
trio-redis = {git = "https://github.com/Tronic/trio-redis.git"}
h2 = "*"
dnspython = "*"

[requires]
python_version = "3.7"
